<div class="d-flex flex-column align-items-center justify-content-center mb-2">
    <h1>Edit Condition and Cost</h1>
    <%= render partial: "form2", locals: { model: Condition, message: 'Update Condition' } %>
</div>
