<div class="d-flex flex-column align-items-center justify-content-center mb-2">
    <h1>Edit Model</h1>
    <%= render partial: "form2", locals: { object: @model, model: Model, message: "Update Model", name: "models" } %>
</div>
