<div class="d-flex flex-column align-items-center justify-content-center mb-2">
    <h1>Add new city</h1>
    <%= render partial: "shared/form2", locals: { object: @model, model: Model, message: "Add Model" ,name: "models"} %>
</div>
