<%= form_with model:@appointment, url: dashboard_appointments_path, method: :get do |form| %>
    <ul class="filter__appointment">
        <li>Search By:</li>
        <li class="filter__appointment--section">
            <%= form.select :status, Appointment.statuses.keys[1..6].map{ |key| [key.humanize, key] }, {prompt: "All Appointment Status"}, class: "form-select"%>
        </li>
        <li class="filter__appointment--section">
            <%= form.submit "Show Results", class:"btn btn-primary"%>
        </li>
    </ul>
<%end%>
