<div class="d-flex flex-column align-items-center justify-content-center">
    <h1> Your estimated car price is : </h1>
</div>
<%= form_with url:appointment_path do |form| %>
    <div class="d-flex align-items-center justify-content-center flex-column">
        <div class="mb-3">
            <%= form.label :Select_your_preferable_date%>
            <br>
            <%= form.date_field :born_on, class: "form-control"%>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-3">
            <%= form.submit "Book Appointment", class:"btn btn-primary"%>
        </div>
    </div>
<%end%>