<span class="fs-4">
    Hii <%=@user.first_name%> <%=@user.last_name%>
</span>
<p>    
    Congratulations. Your appointment with appointment id  <%= @appointment.id%> is now approved.
    For more information visit our page <%= link_to "CarLelo", root_url %>
</p>
