<div class="d-flex flex-column align-items-center justify-content-center">
    <h1> Welcome to the Admin dashboard </h1>
</div>
<div class="dashboard">
  <%= render partial:"sidebar" %>
  <div id = "partial_content"></div>
</div>
