<div class="d-flex flex-column align-items-center justify-content-center mb-2">
    <h1> Add a new CarLelo Branch </h1>
    <%= render partial: "form2", locals: { model: Map, message: 'Add a new CarLelo Branch' } %>
</div>
