<div class="d-flex flex-column align-items-center justify-content-center mb-2">
    <h1>Edit State</h1>
    <%= render partial: "shared/form1", locals: { object: @state, model: State, message: "Update State", name: "states" } %>
</div>
