<div class="d-flex flex-column align-items-center justify-content-center mb-2">
    <h1>Add new state</h1>
    <%= render partial: "shared/form1", locals: { object: @state, model: State, message: "Add State" ,name: "states"} %>
</div>
