<nav class="navbar navbar-expand-lg mb-3" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <%if current_user%>
          <%if current_user.is_admin%>
              <a class="navbar-brand me--auto" href="/dashboard">Car Lelo</a>
          <%else%>
              <a class="navbar-brand" href="/">Car Lelo</a>
          <%end%>
        <%else%>
            <a class="navbar-brand" href="/">Car Lelo</a>
        <%end%>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <%if current_user%>
            <%if current_user.is_admin%>
              <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
              </li>
            <%else%>
              <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
              </li>
            <%end%>
              <li class="nav-item notification__render">
                  <%= link_to notifications_path,remote: true do %>
                      <i class="bi bi-bell"></i>
                      <div id="partial_notification"></div>
                  <%end%>
              </li>
              <li class="nav-link">
                <%= link_to "Log Out", logout_path, method: :delete %>
              </li>
          <%else%>
              <li class="nav-item">
                <a class="nav-link" href="/login">LOGIN</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/new">SIGN UP</a>
              </li>
          <%end%>
      </ul>
    </div>
  </div>
</nav>
