<div class = "landing__container">
    <div class = "landing__container--left">
        <h1> DREAM IT, DRIVE IT</h1>
        <h2>Find the Car You Want,</h2>
        <h2>Your Way</h2>
            <p>THE TRUSTED DESTINATION TO BUY OR SELL USED CARS</p>
        <div class = "landing__container--left--buttons">
            <%= link_to "Login", login_path, class: "btn btn-info" %>
            <%= link_to "Signup", new_user_path, class: "btn btn-info" %>
        </div>
    </div>
    <div class = "landing__container--right">
        <%= image_tag "home_icon.png", class:"card-img-top"%>
    </div>
</div>