<%= form_with do |form| %>
    <div class="d-flex align-items-center justify-content-center flex-column">
    <div class="mb-3">
        <%= form.label :Enter_Your_New_Email%>
        <%= form.text_field :email,  placeholder: "xyz@abc.com", class: "form-control"%>
    </div>
    </div>
<%end%>