 <%= form_with model: @user, url:dashbaord_update_path do |form| %>
    <div class="mb-3">
        <%= form.label :Enter_Your_Password %>
        <%= form.password_field :password, placeholder: "xyz123", class: "form-control"%>
    </div>
    <%= form.submit "Proceed" %>
 <% end %>