<div class="d-flex flex-column align-items-center justify-content-center mb-2">
    <h1>Edit Kilometer Range</h1>
    <%= render partial: "form2", locals: { model: Kilometer, message: "Update Kilometer Ranges"} %>
</div>
