<div class="d-flex flex-column align-items-center justify-content-center mb-2">
    <h1>Add new variant</h1>
    <%= render partial: "shared/form1", locals: { object: @variant, model: Brand, message: "Add Variant" ,name: "variants"} %>
</div>
