            <li class="filter--section">
                <div class="filter--section__content">
                    <span>Brand</span>
                    <img src="https://www.cars24.com/js/4c33768dc2869197d8280dbde6ec7ff2.svg" style="transform: rotate(90deg);">
                </div>
            </li>
            <li class="filter--section">
                <div class="filter--section__content">
                    <span>Model</span>
                    <img src="https://www.cars24.com/js/4c33768dc2869197d8280dbde6ec7ff2.svg" style="transform: rotate(90deg);">
                </div>
            </li>            
            <li class="filter--section">
                <div class="filter--section__content">
                    <span>Year</span>
                    <img src="https://www.cars24.com/js/4c33768dc2869197d8280dbde6ec7ff2.svg" style="transform: rotate(90deg);">
                </div>
                <div class="filter-section _2KD2h _2WpnT">
                    <div class="_27361">
                        <div class="_3qMyk">
                            <h5 class="_3SzdW">Suggestions</h5>
                            <ul class="hR5HH">
                                <li id="2019-2022" class="_2-f4T">2019-2022</li>
                                <li id="2017-2019" class="_2-f4T">2017-2019</li>
                                <li id="2012-2017" class="_2-f4T">2012-2017</li>
                                <li id="2007-2012" class="_2-f4T">2007-2012</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>