<div class="d-flex flex-column align-items-center justify-content-center mb-2">
    <h1>Edit City</h1>
    <%= render partial: "shared/form1", locals: { object: @city, model: City, message: "Update City", name: "cities" } %>
</div>
