<div class="d-flex flex-column align-items-center justify-content-center mb-2">
    <h1>Add new city</h1>
    <%= render partial: "shared/form1", locals: { object: @city, model: City, message: "Add City" ,name: "cities"} %>
</div>
