<div class="d-flex flex-column align-items-center justify-content-center mb-2">
    <h1>Edit Brand</h1>
    <%= render partial: "shared/form1", locals: { object: @brand, model: Brand, message: "Update Brand", name: "brands" } %>
</div>