<div class="d-flex flex-column align-items-center justify-content-center mb-2">
    <h1>Add new brand</h1>
    <%= render partial: "shared/form1", locals: { object: @brand, model: Brand, message: "Add Brand" ,name: "brands"} %>
</div>
