<div class="d-flex flex-column align-items-center justify-content-center mb-2">
    <h1>Edit Registration Year</h1>
    <%= render partial: "shared/form1", locals: { object: @year, model: Year, message: 'Update Year', name: "years" } %>
</div>
