<div class="d-flex flex-column align-items-center justify-content-center mb-2">
    <h1>Edit Year Ranges</h1>
    <%= render partial: "form2", locals: { model: Year, message: 'Update Year' } %>
</div>
